<%= link_to 'Back', :back, :class=>"back-buffer" %>
<h1>Editing team</h1>

<%= render 'form' %>

<div class="row">
  <div class="col-md-3">
<%= link_to 'Cancel', @team %>
</div>
<div class="col-md-2">
<%= link_to 'Destroy', team_url(@team), method: :delete, style: "margin-bottom:40px", class:"btn btn-sm btn-danger pull-right", data: { confirm: 'Are you sure?' } %>


</div>
</div>
