<h1>Editing team</h1>

<%= render 'form' %>


<%= link_to 'Show', @team %> |
<%= link_to 'Back', teams_path %>


<br><%= link_to 'Destroy', team_url(@team), method: :delete, style: "margin-top:40px;margin-bottom:40px", class:"btn btn-danger", data: { confirm: 'Are you sure?' } %>
