<div class="alert alert-info" role="alert">This page is being built</div>

<h1>About</h1>

<p>
  Leaguely was developed by <a href="https://github.com/DrewWeth">Drew Wetherington</a> to organize League of Legends and Super Smash Bros tournaments!
</p>
