<h1>About</h1>

<h3>
  What is Leaguely?
</h3>
<p>
  Leaguely is a free platform for organizing gaming tournaments with transparency.
</p>

<h3>
Creator
</h3>
<p>
  Leaguely was developed by <a href="https://github.com/DrewWeth">Drew Wetherington</a> to organize League of Legends and Super Smash Bros tournaments!
</p>

<h3>
Can I use leaguely?
</h3>
<p>
  Yes! Anyone can use Leaguely to organize an event. If you have any recommendations on how to make Leaguely better, please contact dgwetherington@gmail.com.
</p>
