
<h1>Help</h1>

<h3>I've forgotten my password and haven't receieved an email.</h3>
<p>Please contact dgwetherington@gmail.com in this case.</p>

<h3>Why should I provide my phone number?</h3>
<p>
  Leaguely organizers have the option to send a text to all participants (e.g. "Lunch is here!" or "Don't forget to bring a charger"). Without your phone number, you won't receieve these updates.
</p>

<h3>
  I can't attend an event, how do I let the organizer know?
</h3>
<p>
  The organizer's email address is listed under the competition's page, I'm sure they'd appreciate you send them an update.
</p>

<h3>
  Why is the map destination wrong on the competition page?
</h3>
<p>
  The map is auto generated based on the location. If in doubt you should go to the location in the compeition details or ask the organizer.
</p>
