
<div style="margin-top:20px">
<div class="row">
  <div class="col-md-7">
    <div class="panel panel-default">
  <div class="panel-body">
    <center><%= image_tag("http://i.imgur.com/F3xwWYR.png", :class=>"img img-responsive") %></center>

    <hr>
    <div style="font-size:200%">Be the best gamer you can be!</div>
    <p>Meet new people, play games you love, win prizes, and have fun. Leaguely organizes tournaments where experiences like these happen all the time!</p>
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img img-responsive" src="http://upload.wikimedia.org/wikipedia/commons/c/cc/Championship-series-league-of-legends-competition-team-lesjeunespommes.jpg">
      <div class="caption">
        <h4>Start Competitions</h4>

        <p>Starting League competitions are just a few clicks away. Get started now!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img img-responsive" class="img img-responsive"src="http://static01.nyt.com/images/2014/10/12/business/12-LEGENDS-1/12-LEGENDS-1-articleLarge.jpg">
      <div class="caption">
        <h4>Organize Teams</h4>

        <p>It's hands off! You let participants organize their own teams!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img class="img img-responsive" src="http://www.trbimg.com/img-5202e170/turbine/la-1484180-fi-0725-la-fi-adv-esports-visa2-mam-jpg-20130807/600/600x394">
      <div class="caption">
        <h4>Host Tournaments</h4>

        <p>Look professional and save yourself time hosting touneys with Leaguely!</p>
      </div>
    </div>
  </div>
</div>


</div>
  <div class="col-md-5">
    <div class="well">
    <%= render "devise/registrations/new" %>
  </div>
  </div>
</div>
