
<div style="margin-top:20px">
<div class="row">
  <div class="col-md-6">
    <h2>Connect with the gaming community</h2>
    <ul>
      <li>Meet 40+ new people</li>
    </ul>
  </div>
  <div class="col-md-6 well">
    <%= render "devise/registrations/new" %>
  </div>
</div>
