<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<style>

  body {
  background: url(https://farm3.staticflickr.com/2912/14627112304_63059c373f_b.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  }
  #text{

    position:absolute;
    top:2%;
    right:2%;
    margin:10px;

  }

  .error{
    font-family: 'Lobster', cursive;

  }
}
</style>
<div id="text">
  <p>
  <right><h1>Congratulations, you broke it.</h1></right>

</p>
  <p><center>Either you can't type or some other horrible error has occured.</center></p>
  <div class="error" style="margin-top:70px">
    <h1><center>le error 404</center></h1>
  </div>
</div>
