<link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
<style>

body {
  background: url(https://farm4.staticflickr.com/3883/14627078644_d89cdf1c75_b.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#text{
  color:#eee;
}

.well{
  background: rgba(0, 0, 0, 0.4);
}

.error{
  font-family: 'Lobster', cursive;

  }
}
</style>
<div class="container">
  <div class="col-md-4">
    <center>
      <div class="well" id="text">
        <p>
          <right><h1>My bad, something's wrong.</h1></right>

        </p>
        <p><center>There's an error on this page :(</center></p>
        <div class="error" style="margin-top:40px">
          <h1><center>le error 500</center></h1>
        </div>
      </div>
    </center>
  </div>
</div>
