// Reference
// BLUE: #4A86E8


.shake {
  -webkit-animation: buttonShake 40s infinite;
          animation: buttonShake 40s infinite;
}

@-webkit-keyframes buttonShake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10.5% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  11% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  11.5% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  12% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}
@keyframes buttonShake {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  10.5% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  11% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  11.5% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
  12% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
}


body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}


div.caption {
  position: relative;
  top: 50%;
  // transform: translateY(-50%);
}


img.brand{
  margin-top:-12px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

#map{
  height:300px;
}

.red-link{
  color:red;
}

.back-buffer{
  margin-top:5px;
  margin-bottom:5px;
}
.inline{
  display:inline;
}

#ly{
  border-top:1px solid rgba(74, 134, 232, 0.29);

}


/* Glyph, by Harry Roberts */

hr.style-eight {
    margin-top:20px;
    color: #4A86E8;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(119,119,119,0), rgba(119,119,119,0.75), rgba(119,119,119,0));
    background-image:    -moz-linear-gradient(left, rgba(119,119,119,0), rgba(119,119,119,0.75), rgba(119,119,119,0));
    background-image:     -ms-linear-gradient(left, rgba(119,119,119,0), rgba(119,119,119,0.75), rgba(119,119,119,0));
    background-image:      -o-linear-gradient(left, rgba(119,119,119,0), rgba(119,119,119,0.75), rgba(119,119,119,0));
    text-align: center;
}
hr.style-eight:after {

    content: "Ly";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 0.9em;
    padding: 0 0.25em;
    background: white;
}

p{
  font-size:1.1em;
  font-family: 'Droid Serif', serif;
  font-style:italic;
  color:#777;
}

.p-font{
  font-family: 'Droid Serif', serif;
  font-style:italic;
  color:#777;
}

.gray-text{
  color:#777;

}

.brand{
  width:50px;
}

#navbar-link{

}

.center{
  text-align:center;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}


div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}
